export TERM=rxvt
export EDITOR=vim

# Set cursor size
xrdb ~/.Xresources

# Power saver
xset dpms 900 900 0

# Disable screen-saver
xset s off

# Lockscreen
xss-lock slock &

# Set middle button scrolling speed
imwheel

# Start ibus input method
ibus-daemon &

# Start dropbox
dropbox &

# Start variety
variety &

# Compositor
picom &

# Redshift
redshift -O 6000
