export TERM=rxvt
export EDITOR=vim

# Set cursor size
xrdb ~/.Xresources

# Lockscreen
xss-lock slock &

# Set middle button scrolling speed
imwheel

# Start ibus input method
ibus-daemon &

# Start dropbox
dropbox &

# Start variety
variety &

# Compositor
picom &

~/.xprofile.custom &
