Xcursor.theme: mcmojave-cursors
Xcursor.size: 16

xscreensaver.mode: blank
! When it blanks, it crashes my games.
!xscreensaver.mode: off
xscreensaver.timeout: 0:30:00
xscreensaver.cycle: 0:30:00
xscreensaver.lockTimeout: 0:30:00
xscreensaver.lock: True
xscreensaver.dpmsEnabled: False
xscreensaver.newLoginCommand: dm-tool switch-to-greeter
xscreensaver.fade: False
xscreensaver.splash: False

xscreensaver.passwd.thermometer.foreground:  #ff0000
xscreensaver.passwd.thermometer.background:  #000000
xscreensaver.passwd.thermometer.width:       80

!xscreensaver.passwd.passwdFont: *-helvetica-regular-r-*-*-*-140-*-*-*-iso8859-1
*Dialog.thermometer.foreground:  #ff0000
xscreensaver.Dialog.thermometer.background:  #000000
xscreensaver.Dialog.thermometer.width:       80

! Resources for the password and splash-screen dialog boxes of
! the "xscreensaver" daemon.
! xscreensaver.Dialog.headingFont: *-helvetica-bold-r-*-*-*-180-*-*-*-iso8859-1
! xscreensaver.Dialog.bodyFont: *-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
! xscreensaver.Dialog.labelFont: *-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
! xscreensaver.Dialog.unameFont: *-helvetica-bold-r-*-*-*-120-*-*-*-iso8859-1
! xscreensaver.Dialog.buttonFont: *-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
! xscreensaver.Dialog.dateFont: *-helvetica-medium-r-*-*-*-80-*-*-*-iso8859-1

! Helvetica asterisks look terrible.
! xscreensaver.passwd.passwdFont: *-courier-medium-r-*-*-*-140-*-*-*-iso8859-1

*Dialog.headingFont:	courier bold 16
*Dialog.bodyFont:	courier 14
*Dialog.errorFont:	courier bold 14
*Dialog.labelFont:	courier bold 14
*Dialog.unameFont:	courier 12
*Dialog.buttonFont:	courier bold 14
*Dialog.dateFont:	courier 9
*passwd.passwdFont: courier medium 12
*passwd.asterisks: True
